.myBtn {
    position: absolute;
    top: -5%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    color: var( --tributeAfterBefore);
    font-size: 14px;
    background: transparent;
    border: 1px solid var( --tributeAfterBefore);
    text-shadow: var(--backGRound);
    box-shadow: var(--boxShadow);
  
    cursor: pointer;
    border-radius: 5px;
}

.hmBtn {
    position: absolute;
    top: 104%;
    left: 22%;
    background-color: var(--tributeAfterBefore);
    border: none; /* Remove borders */
    color: var(--colorText);
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    color: var(--tributeAfterBefore);
    font-size: 14px;
    background: transparent;
    border: 1px solid var(--tributeAfterBefore);;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: var(--backGRound);
    box-shadow: var(--boxShadow);
  
}

.cavBtn {
    position: absolute;
    top: 104%;
    left: 78%;
    background-color: var(--tributeAfterBefore);
    border: none; /* Remove borders */
    color: var(--colorText);
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    color: var(--tributeAfterBefore);;
    font-size: 14px;
    background: transparent;
    border: 1px solid var(--tributeAfterBefore);;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: var(--backGRound);
    box-shadow: var(--boxShadow);
  
}
.backBtn {
    position: absolute;
    top: -4%;
    left: 20%;
    background-color: rgb(49, 99, 53); 
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 6px;
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: .5em;
}
.youBtn 
{
    position: absolute;
    top: 90%;
    left: 63%;
    background-color: var(--tributeAfterBefore);
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 6px;
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: .5em;
}

.playBtn {
    position: absolute;
    top: -6%;
    left: 83%;
    background-color: var(--tributeAfterBefore);
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 6px;
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: .5em;
    /* z-index: 101; */
}